*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Configurações gerais */

a{
    text-decoration: none;
}

.max-width{
    width: 1024px;
    margin: 0 auto;
}

.font-blue{
    color: rgb(114, 114, 252);
}

/* Header */

header{
    width: 100%;
    background-color: #fff;
    text-align: center;
    position: fixed;
    z-index: 1;
}

.topo{
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.topo:hover{
    border-bottom: 3px solid rgb(0, 92, 31);
}

.home-button{
    color: #171717;
    font-size: 20px;
    margin-left: 5px;
}

.link-menu{
    font-size: 14px;
    color: #626262;
    margin-right: 20px;
}

/* SECTION-A */

.section-a{
    background-image: url('../assets/img-fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    background-color: rgba(1, 175, 102, 0.644);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 1px;
    width: 580px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 54px;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 62px;
}

.title p{
    margin-top: 10px;
    font-size: 30px;
    padding-bottom: 10px;
}